.slide{
	z-index: 2;
}


.current-slide{
	/* border: 5px red dashed; */
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;

	&+h2{
		animation: slide-head-in 1s;
		bottom: 50%;
	}

/* 	&+.left-head{
	left: 30%;
}

&+.right-head{
	width: 450px;
	left: 75%;
} */
}

.h0{
	height: 0 !important;
	overflow: hidden;
}

h2{
	width: 580px;
	margin: 0 auto;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight: bold;
	position: absolute;
	bottom: -200px;
	margin-bottom: -90px; 
	left: 50%;
	margin-left: -290px;
	z-index: 5;
	}

.left-head{
	left: 30%;
}

.right-head{
	width: 450px;
	left: 75%;
}

h2.head-out {
	animation: slide-head-out 2s;
	bottom: 50%;
}


.first-slide{
	background: url('../img/main13.jpg') no-repeat;
	background-size: cover;
	animation: first-slide 2s;
}

.second-slide{
	background: url('../img/main2.jpg') no-repeat;
	background-size: cover;
	animation: second-slide 2s;
}

.third-slide{
	background: url('../img/main12.jpg') no-repeat;
	background-size: cover;
	animation: third-slide 2s;
}

.prev-slide,
.next-slide{
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	top: 50%;
	right: 100px;
	background-size: cover;
	display: none;
	animation: none;
	z-index: 3;
}

.prev-slide + h2,
.next-slide + h2 {
	animation: slide-head-out 2s;
}

.prev-slide{
	left: 100px
}

.new{
	z-index: 1;
	animation: none;
}


